
@{
    ViewBag.Title = "Index";
}

<div class="body-container bg-navy">
    <div class="container">
        <div class="row">
            <div class="single-tutor-category-block bg-white">
                <div class="row">
                    <div class="tutor-category-header col-lg-5">
                        <div class="tutor-category-img center-container">
                            <img class="center-object compass" src="~/Content/img/page/collection/compass_2x.png" />
                        </div>
                        <div class="tutor-category-title">
                            <h2>Back ends</h2>
                        </div>
                        <div class="tutor-category-description">
                            <p>The section teachs you how to set service for your application.</p>
                        </div>
                    </div>
                    <div class="tutor-category-body col-lg-7">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single-tutor">
                                    <a href="#"><h2>ASP.NET MVC 5 Essential Training</h2></a>
                                    <p>ASP.NET MVC gives you a potent, patterns-based way to build dynamic websites. MVC 5 includes features that enable rapid, test-driven development—and it's a version every .NET developer needs to know to meet the latest web standards. </p>
                                </div>
                                <div class="single-tutor">
                                    <a href="#"><h2>C# Essential Training</h2></a>
                                    <p>Explaining C#'s relationship to .NET and Windows, David shows how to install Visual Studio, a great IDE for developing in C#, and then dives into the language itself.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-tutor-category-block bg-white">
                <div class="row">
                    <div class="tutor-category-header col-lg-5">
                        <div class="tutor-category-img center-container">
                            <img class="center-object div" src="~/Content/img/page/collection/div_2x.png" />
                        </div>
                        <div class="tutor-category-title">
                            <h2>Front ends</h2>
                        </div>
                        <div class="tutor-category-description">
                            <p>Learn more to enhance yout interface intensively.</p>
                        </div>
                    </div>
                    <div class="tutor-category-body col-lg-7">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single-tutor">
                                    <a href="https://www.lynda.com/jQuery-tutorials/jQuery-Essential-Training/494389-2.html"><h2>jQuery Essential Training</h2></a>
                                    <p>An open-source JavaScript library that simplifies the process of adding advanced functionality to web projects,it adds dynamic content, third-party data, or animation to your websites and apps.</p>
                                </div>
                                <div class="single-tutor">
                                    <a href="https://www.pluralsight.com/courses/jqueryui"><h2>jQuery UI</h2></a>
                                    <p>Using the features of the jQuery UI library to bulid a site with renovating the previous one.This course guides you through all of the features of the jQuery UI library, and shows you how to use them to build highly interactive web applications.</p>
                                </div>
                                <div class="single-tutor">
                                    <a href="https://www.pluralsight.com/courses/jquery-animation"><h2>jQuery Animation</h2></a>
                                    <p>Find simple and effiencent method controlling animations on pages.Learn how to prototype and build applications with Angular 2 and familiar .NET development tools.</p>
                                </div>
                                <div class="single-tutor">
                                    <a href="https://www.lynda.com/Bootstrap-tutorials/Bootstrap-Adding-Interactivity-Your-Site/122456-2.html"><h2>Bootstrap 2 Adding Interactivity to Your Site</h2></a>
                                    <p>The 2.0 version of bootstrap, can be totally replaced by the version.3.</p>
                                </div>
                                <div class="single-tutor">
                                    <a href="https://www.lynda.com/Bootstrap-tutorials/Bootstrap-3-Adding-Interactivity-Your-Site/161098-2.html"><h2>Bootstrap 3</h2></a>
                                    <p>Since the powerful Grid System has been added into the new version, strongly Recommended.</p>
                                </div>
                                <div class="single-tutor">
                                    <a href="https://www.lynda.com/AngularJS-tutorials/Angular2-NET-Developers/500547-2.html"><h2>Angular2 for .NET Developers</h2></a>
                                    <p>A regular course for AngularJs.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-tutor-category-block bg-white">
                <div class="row">
                    <div class="tutor-category-header col-lg-5">
                        <div class="tutor-category-img center-container">
                            <img class="center-object div" src="~/Content/img/page/collection/video_2x.png" />
                        </div>
                        <div class="tutor-category-title">
                            <h2>Digital Media</h2>
                        </div>
                        <div class="tutor-category-description">
                            <p>Learn how to edit video even you are not a pro one.</p>
                        </div>
                    </div>
                    <div class="tutor-category-body col-lg-7">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single-tutor">
                                    <a href="http://www.lookae.com/videocopilot-ae-rumenjiaocheng-chs/"><h2>Ae Essential Trainning</h2></a>
                                    <p>That's where everything begins.</p>
                                </div>
                                <div class="single-tutor">
                                    <a href="https://www.lynda.com/CINEMA-4D-tutorials/CINEMA-4D-R17-Essential-Training/410689-2.html?srchtrk=index%3a6%0alinktypeid%3a2%0aq%3acinema+4d%0apage%3a1%0as%3arelevance%0asa%3atrue%0aproducttypeid%3a2"><h2>CINEMA 4D R17 Essential Training</h2></a>
                                    <p>Learn CINEMA 4D R17. From polygonal and spline modeling to lighting, rendering, and shading, this series of CINEMA 4D tutorials will get you up to speed quickly so that you can make great looking 3D graphics and animations with ease.</p>
                                </div>
                                <div class="single-tutor">
                                    <a href="https://www.videocopilot.net/products/opticalflares/features/plug-in_overview/"><h2>Optical Flares</h2></a>
                                    <p>Optical Flares is a plug-in for designing and animating realistic lens flares in After Effects.</p>
                                </div>
                                <div class="single-tutor">
                                    <a href="http://www.lookae.com/hf-part/"><h2>Particular2</h2></a>
                                    <p>Mastering in Particular 2,which presents countless possibilities using AfterEffects.</p>
                                </div>
                                <div class="single-tutor">
                                    <a href="https://vimeo.com/20198919"><h2>Plexus</h2></a>
                                    <p>Plexus is a plug-in designed to bring generative art closer to a non-linear program like After Effects. It lets you create, manipulate and visualize data in a procedural manner.</p>
                                </div>
                                <div class="single-tutor">
                                    <a href="http://motionworks.net/shop/making-it-look-great-10/"><h2>Making It Look Great 10</h2></a>
                                    <p>Professional quailty,contains16 step-by-step lessons, designed to teach you the key modelling tools and workflows for creating a variety of everyday objects from scratch.</p>
                                </div>
                                <div class="single-tutor">
                                    <a href="http://www.videocopilot.net/element/v1/tutorials/"><h2>Element 3D</h2></a>
                                    <p>Element 3D is a Fast Open GL 3D object based particle Rendering Engine for After Effects.</p>
                                </div>
                                <div class="single-tutor">
                                    <a href="https://www.lynda.com/After-Effects-tutorials/Up-Running-Magic-Bullet-Suite/122448-2.html?"><h2>Magic bullet</h2></a>
                                    <p>Magic Bullet Suite is a collection of high-end plugins that help create significantly more professional footage with tools that do everything from removing noise to performing high-end color grading. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-tutor-category-block bg-white">
                <div class="row">
                    <div class="tutor-category-header col-lg-5">
                        <div class="tutor-category-img center-container">
                            <img class="center-object div" src="~/Content/img/page/collection/flat_2x.png" />
                        </div>
                        <div class="tutor-category-title">
                            <h2>Graphics Design</h2>
                        </div>
                        <div class="tutor-category-description">
                            <p>This area is focusing on 2D.</p>
                        </div>
                    </div>
                    <div class="tutor-category-body col-lg-7">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single-tutor">
                                    <a href="https://www.lynda.com/Photoshop-tutorials/Learn-Photoshop-Portrait-Retouching/479800-2.html"><h2>Learn Photoshop Portrait Retouching</h2></a>
                                    <p> In this course, Chris Orwig shares techniques that can help you use Photoshop to bring out the best in your portrait subjects in a pinch. He explains how to remove distractions from the background of an image, as well as unwanted logos, jewelry, and even lint. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

