
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_LayoutInvisible.cshtml";
}

<div class="tpm-240 btm-240">
    <div class="row btm-45">
        <div class="col-lg-12">
            <div class="position-ab-container overflow-hidden-container datalized-bird-box">
                <img class="datalized-bird" src="~/Content/img/page/welcome/Datalized bird.png" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <div class="mbtn mbtn-res mbtn-rose marh-60 btm-10">
                <a class="" href="@Url.Action("Index","Home")">Updated</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <div class="mbtn mbtn-res marh-60 mbtn-gray">
                <a class="" href="@Url.Action("Index","Home")">Enter</a>
            </div>
        </div>
    </div>
</div>

