@font-face {
  font-family: "Myriad Pro";
  src: url('/Content/fonts/MyriadPro-Regular.otf') format('truetype');
  font-weight: 200;
}
h1,
h2,
h3,
h4,
h5,
p,
span,
time {
  margin: 0 0;
  letter-spacing: 0.05em;
  line-height: 1.2;
}
.tpm-240 {
  margin-top: 240px;
}
.btm-10 {
  margin-bottom: 10px;
}
.btm-45 {
  margin-bottom: 45px;
}
.btm-240 {
  margin-bottom: 240px;
}
.marh-60 {
  margin-left: 60px;
  margin-right: 60px;
}
.center-container {
  text-align: center;
}
.center-object {
  margin: 0 auto;
}
.transparent-object {
  opacity: 0;
}
.transparent-object a {
  pointer-events: none;
}
.overflow-hidden-container {
  overflow: hidden;
}
.position-ab-container {
  position: relative;
}
.body-container {
  padding: 101px 0 105px 0;
}
.mbtn {
  opacity: 1;
  -moz-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  font-family: 'Myriad Pro', 'Microsoft YaHei', Arial;
  line-height: 1;
}
.mbtn:hover {
  opacity: 0.7;
}
.mbtn-res > a {
  display: block;
  margin: 0 0;
  padding: 19px 0;
  font-size: 12px;
  color: white;
  text-align: center;
  text-decoration: none;
}
.mbtn-trans {
  display: inline-block;
  position: relative;
  line-height: 1;
}
.mbtn-trans > img:nth-child(2) {
  opacity: 1;
}
.mbtn-trans:hover > img:nth-child(2) {
  opacity: 0;
}
.mbtn-trans > img:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  -moz-transition: opacity ease 0.7s;
  -o-transition: opacity ease 0.7s;
  -webkit-transition: opacity ease 0.7s;
  transition: opacity ease 0.7s;
}
.mbtn-gray {
  background-color: #3c3c3c;
}
.mbtn-rose {
  background-color: #fc2887;
}
.sub-img-half {
  display: inline-block;
}
.sub-img-half > img {
  height: 50%;
}
.navbar-glass {
  padding: 43px 0;
  background-color: transparent;
}
.navbar-glass .navbar-header button span {
  background-color: white;
}
.navbar-glass .navbar-header .brand-sign {
  width: 36px;
  height: 36px;
  margin: 0 24px 0 57px;
}
.navbar-glass .navbar-header .brand-sign > img {
  width: 19px;
  height: 16px;
  position: relative;
  top: 9px;
}
.navbar-glass ul > li {
  opacity: 0.6;
  -moz-transition: opacity ease 0.7s;
  -o-transition: opacity ease 0.7s;
  -webkit-transition: opacity ease 0.7s;
  transition: opacity ease 0.7s;
}
.navbar-glass ul > li:hover {
  opacity: 1;
}
.navbar-glass ul > li > a {
  color: white;
  margin: 0 0;
  padding: 11px 28px;
  background-color: transparent;
  font-family: "Myriad Pro";
  font-size: 16px;
}
.navbar-glass ul > li > a:hover {
  background-color: transparent;
}
@media (max-width: 768px) {
  .navbar-glass {
    padding: 0 0;
  }
  .navbar-glass .navbar-header .brand-sign {
    margin: 7px 7px;
    padding: 7px 10px;
  }
  .navbar-glass .navbar-header .brand-sign > img {
    top: 0;
    left: 0;
  }
}
.head-area .board {
  height: 1080px;
  background-image: url("/Content/img/page/layout/board-effiel.png");
  background-position: center;
}
@media (max-width: 768px) {
  .head-area .board {
    height: 540px;
    background-size: 960px 540px;
  }
}
.split-line {
  height: 2px;
  background-image: url("/Content/img/page/layout/split-line.png");
  background-position: center;
}
footer {
  position: relative;
  height: 259px;
  background-image: url("/Content/img/page/layout/footer-gradient.png");
  background-position: center;
}
footer .mbtn-trans {
  margin: 75px 0 33px 0;
}
footer .mbtn-trans img {
  width: 100px;
  height: 39px;
}
footer .constructor {
  padding: 0 20px;
}
footer .constructor p {
  color: #a2a3b7;
  font-family: 'Myriad Pro', Arial;
  text-align: center;
  margin-bottom: 3px;
  line-height: 1.2;
}
footer .constructor > p > span {
  line-height: 1.2;
  color: white;
}
footer .constructor .prime {
  font-size: 16px;
}
footer .constructor .sub-prime {
  font-size: 14px;
}
.datalized-bird {
  width: 311px;
  height: 329px;
  position: absolute;
  margin: 0 50%;
  left: -180px;
}
.datalized-bird-box {
  height: 329px;
}
.bg-navy {
  background-color: #17184b;
}
.bg-white {
  background-color: white;
}
.mpager {
  margin-top: 103px;
  display: inline-block;
}
.mpager .mpager-arrow-left {
  padding: 10px 22px;
  display: inline-block;
  margin-right: 10px;
}
.mpager .mpager-arrow-left img {
  width: 9px;
  height: 17px;
}
.mpager .mpager-arrow-right {
  padding: 10px 22px;
  display: inline-block;
  margin-left: 10px;
}
.mpager .mpager-arrow-right img {
  width: 9px;
  height: 17px;
}
.mpager .mpager-num {
  display: inline-block;
  padding: 11px 23px;
}
.mpager .mpager-num a {
  position: relative;
  top: 1px;
  font-family: 'Myriad Pro', Arial;
  font-size: 16px;
  color: white;
}
.mpager .mpager-center-img {
  padding: 0 10px;
  display: inline-block;
}
.mpager .mpager-center-img img {
  width: 37px;
  height: 37px;
}
.single-article-block {
  position: relative;
  padding: 1px 8px;
  height: 360px;
  width: 263px;
  background-color: white;
  text-align: left;
}
.single-article-block > .pin {
  position: absolute;
  left: 12px;
  top: 15px;
}
.single-article-block > .cover-img-box {
  position: absolute;
  top: 67px;
  left: 8px;
}
.single-article-block > .cover-img-box > img {
  width: 247px;
  height: 99px;
}
.single-article-block > .title-box {
  height: 51px;
  position: absolute;
  top: 189px;
  left: 8px;
}
.single-article-block > .title-box a {
  text-decoration: none;
}
.single-article-block > .title-box a:hover {
  text-decoration: underline;
}
.single-article-block > .title-box h3 {
  font-family: 'Microsoft YaHei';
  font-size: 16px;
  color: #1c1c1c;
}
.single-article-block > .short-description-box {
  position: absolute;
  top: 261px;
  left: 8px;
}
.single-article-block > .short-description-box > p {
  font-family: 'Microsoft YaHei';
  font-size: 12px;
  color: #838383;
}
.single-article-block > .category-time-box {
  position: absolute;
  bottom: 12px;
  right: 8px;
}
.single-article-block > .category-time-box > time {
  font-family: 'Microsoft YaHei';
  font-size: 12px;
  color: #9b9b9b;
}
.cover-round {
  display: inline-block;
  width: 85px;
  height: 85px;
  -moz-border-radius: 50% 50%;
  -webkit-border-radius: 50% 50%;
  border-radius: 50% 50%;
  overflow: hidden;
}
.article {
  padding: 48px 6% 23px 6%;
}
.article .article-header {
  margin-bottom: 103px;
}
.article .article-header .article-info-box {
  display: inline-block;
}
.article .article-header .article-info-box .article-title {
  margin-top: 30px;
}
.article .article-header .article-info-box .article-title h2 {
  text-align: center;
  font-family: 'Microsoft YaHei', Arial;
  font-size: 18px;
  color: #252525;
}
.article .article-header .article-info-box .article-short-description {
  margin-top: 13px;
}
.article .article-header .article-info-box .article-short-description p {
  text-align: left;
  font-family: 'Microsoft YaHei', Arial;
  font-size: 12px;
  color: #838383;
}
.article .article-header .article-info-box .article-time {
  margin-top: 11px;
}
.article .article-header .article-info-box .article-time time {
  display: block;
  text-align: right;
  font-family: 'Microsoft YaHei', Arial;
  font-size: 12px;
  color: #9b9b9b;
}
.article .article-body {
  margin-bottom: 117px;
}
.article .article-body p {
  text-align: left;
  font-family: 'Microsoft YaHei', Arial;
  font-size: 14px;
  color: #252525;
}
.article .article-footer .mbtn-trans img {
  width: 57px;
  height: 21px;
}
.single-tutor-category-block {
  padding: 20px 0px;
  min-height: 425px;
  margin-bottom: 100px;
}
.single-tutor-category-block:last-child {
  margin-bottom: 0;
}
.single-tutor-category-block .tutor-category-header {
  padding: 20px 87px;
}
.single-tutor-category-block .tutor-category-header .tutor-category-img {
  margin-bottom: 32px;
}
.single-tutor-category-block .tutor-category-header .tutor-category-img img {
  width: 52px;
  height: 82px;
}
.single-tutor-category-block .tutor-category-header .tutor-category-title {
  margin-bottom: 20px;
}
.single-tutor-category-block .tutor-category-header .tutor-category-title h2 {
  text-align: center;
  font-family: 'Microsoft YaHei', Arial;
  font-size: 14px;
  color: #5a5a5a;
}
.single-tutor-category-block .tutor-category-header .tutor-category-description p {
  text-align: center;
  font-family: 'Microsoft YaHei', Arial;
  font-size: 12px;
  color: #7a7a7a;
}
.single-tutor-category-block .tutor-category-body {
  padding: 25px 46px 25px 19px;
}
.single-tutor-category-block .tutor-category-body .single-tutor {
  margin-bottom: 32px;
}
.single-tutor-category-block .tutor-category-body .single-tutor h2 {
  margin-bottom: 14px;
  font-family: 'Microsoft YaHei', Arial;
  font-size: 14px;
  color: #252525;
}
.single-tutor-category-block .tutor-category-body .single-tutor p {
  font-family: 'Microsoft YaHei', Arial;
  font-size: 12px;
  color: #838383;
}
.single-tutor-category-block .tutor-category-body .single-tutor:last-child {
  margin-bottom: 0;
}